header {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url('assets/Stockholm.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2rem;
    padding: 0, 75rem 2rem;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

nav ul a {
    padding: 0.1rem 0.5rem;
}

/*nav ul a:hover {
    background-color: hsl(0, 0%, 90%);
}*/

.input-field {
    background-color: white;
    border: 1px solid hsl(0, 0%, 70%);
    padding: 0.25rem 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input-field>input {
    border: none;
    background-color: transparent;
    margin-left: 0.5rem;
}

.input-field>input:focus {
    outline: none;
}

/* Standardstorlek för större skärmar */
h1 {
    font-size: 3rem;
}

/*för tablets*/
@media screen and (max-width: 992px) {
    h1 {
        font-size: 2rem;
    }
}

/*för mobiltelefoner*/
@media screen and (max-width: 600px) {
    h1 {
        font-size: 1.5rem;
    }
}